@import "../styles/carousel-home.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: rgba(251, 251, 251, 1);
    --foreground-yellow: rgba(251, 255, 35, 1);
    --foreground-black: rgba(52, 55, 65, 1);
    --foreground-gray: rgba(94, 98, 111, 1);
    --foreground-purple: rgba(74, 119, 255, 1);

    --divider: rgba(242, 244, 247, 1);
    --border: rgba(193, 197, 207, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgba(251, 251, 251, 1);
        --foreground-yellow: rgba(251, 255, 35, 1);
        --foreground-black: rgba(52, 55, 65, 1);
        --foreground-gray: rgba(94, 98, 111, 1);
        --foreground-purple: rgba(74, 119, 255, 1);

        --divider: rgba(242, 244, 247, 1);
        --border: rgba(193, 197, 207, 1);
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .text-13 {
        font-size: 0.8125rem;
        line-height: 1.21875rem;
    }

    .underline-skip-ink {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .home-tooltip-animation {
        animation: fadeIn 0.3s ease-in 0.8s forwards;
        opacity: 0; /* Initially hidden */
    }
}

